#chess{
    width: 640px;
    height: 640px;
    border: 1px solid black;
}
table{
    width: 680px;
    height: 640px;
    border: 1px solid black;
}
.black{
    background-color: grey;
    height: 80px;
}
.pink{
    background-color: pink;
    height: 80px;
}
.piezas{
    font-size: 80px;
    margin-left: 13%;
}
